.pb-75 {
  padding-bottom: 75px;
}

.line {
  color: rgb(255, 255, 255, 0.623);
}

.bg-home {
  min-height: 100vh;
  background-image: url("./assets/images/stacked-stones-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-main-home {
  background: rgba(239, 188, 155, 0.6);
}

.bg-footer-home {
  background: rgb(156, 175, 170);
}

.bg-login {
  min-height: 100vh;
  background-color: #fbf3d5;
}

.bg-main-login {
  background-color: #efbc9b;
}

.bg-footer-login {
  background-color: #9cafaa;
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }
}
